---
cover: 'bg.png'
---

%header.main-header.author-head{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu

%section.author-profile.inner
  - if gravatar?
    %figure.author-image
      .img{style: "background-image: url(#{gravatar(114)})"}
        %span.hidden #{blog_author.name}'s Picture
  %h1.author-title= blog_author.name
  - if blog_author.bio.present?
    %h2.author-bio= blog_author.bio
  .author-meta
    - if blog_author.location.present?
      %span.author-location.icon-location= blog_author.location
    - if blog_author.website.present?
      %span.author-link.icon-link
        %a{href: blog_author.website}= blog_author.website
    %span.author-stats
      %i.icon-stats
      %a{href: '/blog'}= pluralize(blog.articles.count, 'post')

%main#content.content{role: :main}
  %main.content{role: :main}
    %article.post
      %header.post-header
        %h1.post-title= current_page.data.title
      %section.post-content
        = partial(:bio)

  %aside.read-next
    - if first_article = blog.articles[0]
      - attributes = { href: first_article.url }.merge(cover(first_article))
      %a.read-next-story{attributes}
        %section.post
          %h2= first_article.title
          %p #{read_next_summary(first_article, 19)}&hellip;
    - if second_article = blog.articles[1]
      - attributes = { href: second_article.url }.merge(cover(second_article))
      %a.read-next-story.prev{attributes}
        %section.post
          %h2= second_article.title
          %p #{read_next_summary(second_article, 19)}&hellip;
  %aside.read-next.next
    - if third_article = blog.articles[2]
      - attributes = { href: third_article.url }.merge(cover(third_article))
      %a.read-next-story{attributes}
        %section.post
          %h2= third_article.title
          %p #{read_next_summary(third_article, 19)}&hellip;
    - if fourth_article = blog.articles[3]
      - attributes = { href: fourth_article.url }.merge(cover(fourth_article))
      %a.read-next-story.prev{attributes}
        %section.post
          %h2= fourth_article.title
          %p #{read_next_summary(fourth_article, 19)}&hellip;
  %aside.read-next.next
    - if fifth_article = blog.articles[4]
      - attributes = { href: fifth_article.url }.merge(cover(fifth_article))
      %a.read-next-story{attributes}
        %section.post
          %h2= fifth_article.title
          %p #{read_next_summary(fifth_article, 19)}&hellip;
    - if sixth_article = blog.articles[5]
      - attributes = { href: sixth_article.url }.merge(cover(sixth_article))
      %a.read-next-story.prev{attributes}
        %section.post
          %h2= sixth_article.title
          %p #{read_next_summary(sixth_article, 19)}&hellip;
